---
import PlayerCard from "../../components/PlayerCard.astro";
import Layout from "../../layouts/Layout.astro";
import teams from "../../../public/teams.json";

export function getStaticPaths() {
  const paths = teams.map((team) => ({
    params: {
      team: team.name.toLowerCase(),
    },
  }));

  return paths;
}

const { team } = Astro.params;
---

<Layout title={team}>
  <section class="py-20">
    <!-- <header class="relative rounded-md flex items-center gap-10 mb-20">
      <span class="absolute -top-10 text-2xl text-gray-500 left-0">v1</span>

      <div class="h-36">
        <img
          src="/Flags/argentina.webp"
          class="h-full aspect-square rounded-md border-[3px] border-black object-cover"
          alt="Bandera seleccion"
        />
      </div>
      <div>
        <h1 class="text-6xl capitalize">{team}</h1>
        <span class="relative -top-1 text-gray-600">La Albiceleste</span>
      </div>
    </header> -->
    <header
      class="group relative py-4 rounded-md border-black flex items-center gap-14 mb-10"
    >
      <span
        class="absolute hidden -top-10 group-hover:block text-2xl text-gray-500 left-0"
        >v2</span
      >
      <a class="absolute top-0" href="/">Volver al inicio</a>
      <img
        transition:name={`flag-${team}`}
        src={`/Flags/${team.toLowerCase()}.webp`}
        class="w-20 aspect-video rounded-md border-[3px] border-black"
        alt="Bandera seleccion"
      />
      <div>
        <h1 class="text-6xl capitalize">{team}</h1>
        <span class="relative -top-1">La Albiceleste</span>
      </div>
    </header>
    <!-- <header
      class="relative border-b-[3px] pb-8 border-black flex flex-col gap-4 mb-20"
    >
      <span class="absolute -top-10 text-2xl text-gray-500 left-0">v3</span>
      <img
        src="/Flags/argentina.webp"
        class="w-20 aspect-video rounded-md border-[3px] border-black"
        alt="Bandera seleccion"
      />
      <div>
        <h1 class="text-6xl capitalize">{team}</h1>
        <span class="relative -top-1">La Albiceleste</span>
      </div>
    </header> -->
    <h2 class="text-4xl capitalize mb-10">Equipo</h2>
    <ul class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <PlayerCard
        fullname="Julian Alvarez"
        role="Delantero"
        playerImg="https://copaamerica.com/_next/image?url=%2Fplayers%2Fargentina%2Fargentina-09.png&w=384&q=75"
        number={9}
      />
      <PlayerCard
        fullname="Leonel Messi"
        role="Delantero"
        playerImg="https://copaamerica.com/_next/image?url=%2Fplayers%2Fargentina%2Fargentina-10.png&w=384&q=75"
        number={10}
      />
      <PlayerCard
        fullname="Angel Di Maria"
        role="Delantero"
        playerImg="https://copaamerica.com/_next/image?url=%2Fplayers%2Fargentina%2Fargentina-11.png&w=384&q=75"
        number={11}
      />
      <PlayerCard
        fullname="Emiliano Martinez"
        role="Arquero"
        playerImg="https://copaamerica.com/_next/image?url=%2Fplayers%2Fargentina%2Fargentina-23.png&w=384&q=75"
        number={23}
      />
    </ul>
  </section>
</Layout>
