---
import PlayerCard from "../../components/PlayerCard.astro";
import Layout from "../../layouts/Layout.astro";
import TEAMS from "../../../public/teams.json";
import PLAYERS from "../../../public/players.json";

export function getStaticPaths() {
  const paths = TEAMS.map((team) => ({
    params: {
      team: team.name.toLowerCase(),
    },
  }));

  return paths;
}

const { team } = Astro.params;
const teamIdx = TEAMS.findIndex((t) => t.name.toLowerCase() === team);
const players = PLAYERS[teamIdx].players;
---

<Layout title={team}>
  <section class="py-10">
    <header
      class="group relative py-4 rounded-md border-black flex items-center gap-14 mb-10"
    >
      <a
        class="absolute -top-5 text-lg hover:scale-[1.02] transition-transform"
        href="/">Volver al inicio</a
      >
      <img
        transition:name={`flag-${team}`}
        src={`https://cdn.loficenter.lol/flags/${team.replace(" ", "").toLowerCase()}.webp`}
        class="w-48 aspect-video rounded-md border-[3px] border-black"
        alt="Bandera seleccion"
      />
      <div>
        <h1 class="text-6xl capitalize">{team}</h1>
        <span class="relative -top-1">La Albiceleste</span>
      </div>
    </header>
    <h2 class="text-4xl capitalize mb-10">Equipo</h2>
    <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {
        players.map((player) => (
          <PlayerCard
            fullname={player.name}
            role={player.position}
            playerImg={player.image}
            number={player.number}
          />
        ))
      }
    </ul>
  </section>
</Layout>
